american-ws/src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd">
	<db:config name="Database_Config" doc:name="Database Config" doc:id="1d3a5807-f825-487f-bc3a-0ec0729d0338" >
		<db:my-sql-connection host="mudb.learn.mulesoft.com" port="3306" user="mule" password="mule" database="training"/>
	</db:config>
	<api-gateway:autodiscovery apiId="16575189" ignoreBasePath="true" doc:name="API Autodiscovery" doc:id="8de1e918-c83f-4247-9056-c3d963c20105" flowRef="american-flights-api-main" />
	<flow name="getFlights" doc:id="3cbbab97-4bf0-419a-9add-4c91a2a4693f" >
		<db:select doc:name="Select American Flights Data" doc:id="43e9009f-74f0-4ab2-b1bd-b68eaa8d847f" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from american]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="9b852b51-9c79-4f59-aa2e-b88b78f06a40" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	ID: payload01.ID,
	code: (payload01.code1default "") ++ (payload01.code2 default ""),
	price: payload01.price default 0,
	departureDate: payload01.takeOffDate as String default "",
	origin: payload01.fromAirport default "",
	destination: payload01.toAirport default "",
	emptySeats: payload01.seatsAvailable default 0,
	plane: {
		"type": payload01.planeType default "",
		totalSeats: payload01.totalSeats default 0
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="c75274f7-d252-4838-926e-07f9606b9114" message="#[payload]" />
	</flow>
	<flow name="getFlightsByID" doc:id="9971a815-871d-4657-ac5b-b86814904ff2" >
		<db:select doc:name="American Flights Data Based on ID" doc:id="6fa1c80c-564f-41f2-898d-a0b6f2f831ae" config-ref="Database_Config" >
			<db:sql ><![CDATA[SELECT *
FROM american
WHERE ID = :ID]]></db:sql>
			<db:input-parameters ><![CDATA[#[{'ID': attributes.uriParams.ID}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="e3f819e3-d7fc-4ee3-afed-91f8d6577a96" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	ID: payload01.ID,
	code: (payload01.code1default "") ++ (payload01.code2 default ""),
	price: payload01.price default 0,
	departureDate: payload01.takeOffDate as String default "",
	origin: payload01.fromAirport default "",
	destination: payload01.toAirport default "",
	emptySeats: payload01.seatsAvailable default 0,
	plane: {
		"type": payload01.planeType default "",
		totalSeats: payload01.totalSeats default 0
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="3cb0dd27-b06d-459c-9250-bea2a2e0ce7b" message="#[payload]" />
	</flow>
	<flow name="postFlight" doc:id="07211d2c-cb2c-4ea5-a8f0-47bfc3a3406d" >
		<ee:transform doc:name="Transform Message" doc:id="3cbb0eb5-5d3e-4ffe-bae7-2664a4544b20" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="4c36ea47-220e-4d8e-88a1-63871b0ab793" message="#[payload]"/>
	</flow>
</mule>
